.di_division_head{
    position: absolute;
    top:-1px ;
    left: -1px;
    height: 90px;
    width: 1350px;
    background-color: rgb(67, 5, 190);
    box-shadow: 1px 1px 8px 0px rgb(0, 255, 195);
}

.input_buscas{
    position: absolute;
    top: 25px;
    left: 420px;
    height: 33px;
    width: 500px;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}

.butt_search{
    position: absolute;
    top: 26px;
    left: 925px;
    height: 30px;
    width: 65px;
    background-color: rgb(0, 140, 255);
   /* border: none;*/
    border-radius: 5px;
}

.img_logo{
    position: relative;
    inline-size: 10%;
    left: 30px;
}

.txt_cadastro{
    position: absolute;
    top: 30px;
    left: 1230px;
    text-decoration: none;
    font: 0.90em sans-serif;
    color: black;
    transition: 1s;
}
.txt_cadastro:hover{
    position: absolute;
    top: 25px;
    left: 1230px;
    text-decoration: none;
    font: 0.95em sans-serif;
    color:rgb(234, 97, 234);
}

.carrinho{
    position: absolute;
    top: 30px;
    left: 1120px;
    text-decoration: none;
    font: 0.90em sans-serif;
    color: black;
    transition: 1s;
}

.carrinho:hover{
    position: absolute;
    top: 25px;
    left: 1115px;
    text-decoration: none;
    font: 0.95em sans-serif;
    color:rgb(234, 97, 234);
}

main{
    position:absolute;
    top: 315px;
    left: 350px;
    height: 140px;
    width: 700px;
    
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.swiper{
    position: relative;
    /*top: 180px;
    left: 10px;*/
    height: 380px;
    width: 1000px;
    border-radius: 8px;
}

.swiper-slide{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    inline-size: 30%;
}


.img_an_1{
    position:absolute;
    left: 0px;
    border-radius: 5px; ;
}

.txt_of{
    position: absolute;
    top: 600px;
    left: 100px;
    font-size: 30px;
    font: 1.70em sans-serif;
}

.div_produto_1{
    position: absolute;
    top: 700px;
    left: 140px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_1:hover{
    position: absolute;
    top: 700px;
    left: 134px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.img_produto_01{
    position:relative;
    top: 80px;
    left: 37px;
    transition: 1s;
    inline-size: 70%;
}

.div_division_p_1{
    position: absolute;
    top: 223px;
    left: 20px;
    height: 2px;
    width: 250px;
    background-color: rgba(156, 154, 154, 0.405);
}

.txt_p_produto_1{
    position: absolute;
    top: 218px;
    left: 20px;
    font: 1.50em sans-serif;
}

.sub_txt_1{
    position: absolute;
    top: 224px;
    left: 137px;
    color: rgb(11, 179, 11);
    font: 1em sans-serif;
}

.sub_txt_2{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;
}

.sub_describ2{
    position:absolute;
    top: 280px;
    left: 16px;
    color: rgb(151, 148, 148);
    font: 0.85em sans-serif;
    text-decoration: none;
}

.sub_sub_describ2{
    text-decoration: none;
    color: rgb(151, 148, 148);
}

.div_produto_2{
    position: absolute;
    top: 700px;
    left: 550px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_2:hover{
    position: absolute;
    top: 700px;
    left: 544px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.img_produto_02{
    position:relative;
    top: 10px;
    left: 83px;
    inline-size: 50%;
}

.sub_div_pd_2{
    position: absolute;
    top: 232px;
    left: 25px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.sub_describ1{
    position: absolute;
    top: 280px;
    left: 14px;
    color: rgb(151, 148, 148);
    font: 0.85em sans-serif;    
}

.sub_sub_describ1{
    text-decoration: none;
    color: rgb(151, 148, 148);
}

.txt_p_produto_2{
    position: absolute;
    top: 220px;
    left: 20px;
    font: 1.50em sans-serif;
}

.sub_txt_3{
    position: absolute;
    top: 255px;
    left: 20px;
    font: 1em sans-serif;
}

.sub_txt_4{
    position: absolute;
    top: 254px;
    left: 50px;
    font: 0.90em sans-serif;
}

.div_produto_3{
    position: absolute;
    top: 700px;
    left: 950px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_3:hover{
    position: absolute;
    top: 700px;
    left: 944px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.img_produto_03{
    position: absolute;
    top: 80px;
    left: 13px;
    inline-size: 90%;
}

.sub_div_pd_3{
    position: absolute;
    top: 223px;
    left: 20px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.txt_p_produto_3{
    position: absolute;
    top: 219px;
    left: 20px;
    font: 1.50em sans-serif;
}

.sub_txt_5{
    position: absolute;
    top: 224px;
    left: 105px;
    font: 0.90em sans-serif;
    color: rgb(11, 179, 11) ;
}

.sub_txt_6{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;
}

.sub_txt_7{
    position: absolute;
    top: 280px;
    left: 14px;
    font: 0.85em sans-serif;
    color: rgb(151, 148, 148);
}

.sub_sub_txt_7{
    text-decoration: none;
    color: rgb(151, 148, 148);
}

.txt_of_2{
    position: absolute;
    top: 1050px;
    left: 100px;
    font-size: 30px;
    font: 1.70em sans-serif;
}

.div_produto_4{
    position: absolute;
    top: 1160px;
    left: 120px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_4:hover{
    position: absolute;
    top: 1160px;
    left: 113px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.img_produto_04{
    position: absolute;
    top: 60px;
    left: 15px;
    inline-size: 90%;
}

.sub_div4{
    position: absolute;
    top: 215px;
    left: 25px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.txt_produto_04{
    position: absolute;
    top: 218px;
    left: 20px;
    font: 1.50em sans-serif;
}

.sub_txt_8{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;
}

.sub_txt_9{
    position: absolute;
    top: 280px;
    left: 20px;
    font: 0.85em sans-serif;
    color: rgb(151, 148, 148);
}

.sub_txt_10{
    position: absolute;
    top: 224px;
    left: 123px;
    font: 0.90em sans-serif;
    color: rgb(11, 179, 11) ;
}

.div_produto_5{
    position: absolute;
    top: 1160px;
    left: 550px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_5:hover{
    position: absolute;
    top: 1160px;
    left: 545px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.img_produto_05{
    position: absolute;
    top: 80px;
    left: 10px;
    inline-size: 93%;
}

.sub_div5{
    position: absolute;
    top: 215px;
    left: 27px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.sub_txt_11{
    position: absolute;
    top: 218px;
    left: 20px;
    font: 1.50em sans-serif;
}

.sub_txt_12{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;
}

.sub_txt_13{
    position: absolute;
    top: 224px;
    left: 135px;
    font: 0.90em sans-serif;
    color: rgb(11, 179, 11) ;
}

.sub_txt_p5_14{
    position:relative;
    top: 280px;
    left: 14px;
    font: 0.85em sans-serif;
    color: rgb(151, 148, 148);
}

.div_produto_6{
    position: absolute;
    top: 1160px;
    left: 950px;
    height: 340px;
    width: 310px;
    border-radius: 8px;
    transition: 640ms;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
}

.img_produto_06{
    position: absolute;
    top: 5px;
    left: 80px;
    inline-size: 50%;
    
}

.div_produto_6:hover{
    position: absolute;
    top: 1160px;
    left: 943px;
    height: 360px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.sub_div6{
    position: absolute;
    top: 215px;
    left: 30px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.txt_produto_6{
    position: absolute;
    top: 218px;
    left: 20px;
    font: 1.50em sans-serif;
}

.master_oferta{
    position: absolute;
    top: 1600px;
    left: 550px;
    height: 350px;
    width: 620px;
    border-radius: 8px;
    box-shadow: 1px 1px 12px 0px rgb(0, 255, 195);
    transition: 1s;   
}

.img_baner{
    position: absolute;
    top: 10px;
    left: 15px;
    align-items: center;
    display: flex;
    justify-items: center;
    border-radius: 5px;
    inline-size: 95%;
}

.sub_txt_14{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;
}

.sub_txt_15{
    position: relative;
    top: 280px;
    left: 14px;
    color: rgb(151, 148, 148);
    font:0.85em sans-serif
}

.img_dec{
    position: absolute;
    top: 1600px;
    left: 120px;
    inline-size: 20%;
    transition: 1s;
}

.img_dec:hover{
    position: absolute;
    top: 1580px;
    left:105px;
    inline-size: 23%;

}

.txt_of_3{
    position: absolute;
    top: 2070px;
    left: 100px;
    font-size: 30px;
    font: 1.70em sans-serif;
}

.div_produto_7{
    position: absolute;
    top: 2200px;
    left: 140px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_7:hover{
    position: absolute;
    top: 2200px;
    left: 130px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgba(98, 97, 97, 0.692);
}

.img_produto7{
    position: absolute;
    top: 30px;
    left: 25px;
    inline-size: 80%;
}

.sub_div7{
    position: absolute;
    top: 215px;
    left: 30px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.sub_txt_p7{
    position: absolute;
    top: 218px;
    left: 20px;
    font: 1.55em sans-serif;
}

.sub_txt2_p7{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;
}

.sub_txt3_p7{
    position: relative;
    top: 280px;
    left: 14px;
    color: rgb(151, 148, 148);
    font:0.85em sans-serif
}

.sub_txt4_p7{
    position: absolute;
    top: 224px;
    left: 135px;
    font: 0.90em sans-serif;
    color: rgb(11, 179, 11);
}

.div_produto_8{
    position: absolute;
    top: 2200px;
    left: 550px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_8:hover{
    position: absolute;
    top: 2200px;
    left: 540px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.img_produto_8{
    position: absolute;
    top: 20px;
    left: 20px;
    inline-size: 90%;
}

.sub_div8{
    position: absolute;
    top: 215px;
    left: 30px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.sub_txt_p8{
    position: absolute;
    top: 218px;
    left: 20px;
    font: 1.55em sans-serif;
}

.sub_txt2_p8{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;   
}

.sub_txt3_p8{
    position: relative;
    top: 280px;
    left: 12px;
    color: rgb(151, 148, 148);
    font:0.85em sans-serif
}

.sub_txt4_p8{
    position: absolute;
    top: 224px;
    left: 135px;
    font: 0.75em sans-serif;
    color: rgb(11, 179, 11);
}

.div_produto_9{
    position: absolute;
    top: 2200px;
    left: 950px;
    height: 340px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 7px 0px rgb(157, 155, 155);
    transition: 640ms;
}

.div_produto_9:hover{
    position: absolute;
    top: 2200px;
    left: 940px;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    box-shadow: 1px 1px 9px 0px rgb(98, 97, 97);
}

.img_produto_9{
    position: absolute;
    top: 20px;
    left: 60px;
    inline-size: 60%;
}

.sub_div9{
    position: absolute;
    top: 215px;
    left: 35px;
    height: 2px;
    width: 250px;
    background-color:rgba(156, 154, 154, 0.405);
}

.sub_txt_p9{
    position: absolute;
    top: 218px;
    left: 20px;
    font: 1.55em sans-serif;
}

.sub_txt2_p9{
    position: absolute;
    top: 254px;
    left: 45px;
    font: 0.97em sans-serif;  
    color: rgb(11, 179, 11);
}

.sub_txt3_p9{
    position: absolute;
    top: 254px;
    left: 20px;
    font: 1em sans-serif;  
}

.sub_txt4_p9{
    position: relative;
    top: 280px;
    left: 14px;
    color: rgb(151, 148, 148);
    font:0.85em sans-serif   
}

.div_final{
    position: absolute;
    top: 2650px;
    left: -1px;
    background-color:black;
    height:500px;
    width: 1350px;
}

.sub_div_final{
    position: relative;
    top: 30px;
    height: 2px;
    background-color: rgb(92, 43, 226);
}

.img_001{
    position:absolute;
    top: 120px;
    left: 840px;
    inline-size: 15%;
}

.txt_sub_01{
    position: absolute;
    top: 340px;
    left: 783px;
    color: rgba(255, 255, 255, 0.764);
    font: 0.75em sans-serif;
}

.carrinho2{
    position: absolute;
    top: 60px;
    left: 590px;
    color: white;
    font: 2em sans-serif;
}

.b_carrinho{
    position: relative;
    top: 660px;
    left: 140px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho2{
    position: relative;
    top: 660px;
    left: 470px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho3{
    position: relative;
    top: 660px;
    left: 790px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho4{
    position: relative;
    top: 1120px;
    left: -110px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho5{
    position: relative;
    top: 1120px;
    left: 241px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho6{
    position: relative;
    top: 1120px;
    left: 566px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho7{
    position: relative;
    top: 2156px;
    left: -319px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho8{
    position: relative;
    top: 2156px;
    left: 19px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}

.b_carrinho9{
    position: relative;
    top: 2156px;
    left: 345px;
    background-color: rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
    box-shadow: 2px 2px 1px 0px rgba(0, 255, 255, 0.868);
}


.listadepostes{
    position: absolute;
    top: 100px;
    color: white;
    font: 1.03em sans-serif
}

.elementohtml_c{
    position: relative;
    padding: 5px;
    padding-top: 10px;
    left: 200px;
}

.btndelet{
    background-color:rgb(76, 36, 251);
    border: none;
    border-radius: 5px;
    padding: 4px;
    padding-inline: 10px;
}



